/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

COLOR

__________________*/

/* ______________

TYPO

__________________*/

/* ______________

CLASSES

__________________*/
