/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

COLOR

__________________*/

:root {
    --lblue: #b5ddff;
    --blue: #0084fd;
    --violet: #9792e4;
    --orange: #fdc15f;   
}

/* ______________

TYPO

__________________*/

a {
    text-decoration: none;
    color: inherit;
}

/* ______________

STYLES

__________________*/

img  {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* ______________

CLASSES

__________________*/

.box {
    margin: 0 auto;
    max-width: 71.25rem;
    width: 85%;
}

.flex {
    display: flex;
}

.justify-beetween {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.col{
    width: 100%;
    height: 500px;
    background-color: #0084fd;
    border: 2px solid black;
}

.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}