/* ______________

MOBILE (FIRST)

__________________*/


/* ______________

TABLET (≥768px)

__________________*/

@media screen and (min-width: 768px) {
    
    #features .col {
        width: calc(100% / 3);
    }

    #features .col:first-child {
        width: calc((100% / 3) * 2);
    }

}

/* ______________

DESKTOP (≥992PX)

__________________*/

@media screen and (min-width: 992px) {
    header nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    #features .flex-col {
        flex-direction: row;
    }
}
