/* ______________

MOBILE (FIRST)

__________________*/


/* ______________

TABLET (≥768px)

__________________*/

@media screen and (min-width: 768px) {
    
    #features .card {
        width: 30%;
    }

    #features .card:first-child {
        width: 60%;
    }

}

/* ______________

DESKTOP (≥992PX)

__________________*/

@media screen and (min-width: 992px) {
    header nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .col {
        width: 45%;
    }
}
