/* ______________

COMMON

__________________*/

img  {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.button {
    color: white;
    background-color: var(--blue);
    padding: .3125rem 1.875rem;
    text-decoration: none;
    font-size: .875rem;
    text-align: center;
    width: fit-content;
    max-height: fit-content;
    display: inline-block;
    border-radius: 1.25rem;
}

.img-box {
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    margin: auto;
    background-size: cover;
    background-position: 50%;
}

/* ______________

HEADER

__________________*/

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1.25rem 0;
    background-color: var(--blue);
    color: white;
}

header>* {
    align-items: center;
}

header nav {
    display: none;
}

header ul {
    gap: 1.25rem;
    align-items: center;
}

header .button {
    background-color: white;
    color: black;
}

header a {
    text-decoration: none;
 }

.fa-bars {
    font-size: 1.5625rem;
}

/* ______________

MAIN

__________________*/

section {
    padding: 4.6875rem 0;
}

/* features section */

#features {
    margin-top: 3.125rem;
}

#features .card{
    width: 100%;
    background-color: var(--lblue);
    padding: 1.875rem;
    border-radius: 1.25rem;
    text-align: center;
}

#features .card:first-child {
    padding-bottom: 0rem;
}

#features .card:first-child div:last-child {
    align-self: flex-end;
}

#features .card>i{
    font-size: 5rem;
    padding: .9375rem 0;
    color: var(--blue);
}

.card h4 {
    color: var(--blue);
}

#features .flex-col {
    gap: 1.25rem;
    align-content: stretch;
}

/* planning section */

#planning {
    background-color: var(--violet);
    color: white;
}

#planning .flex-col {
    gap: 1.875rem;
}

#planning .card{
    background-color: white;
    color: black;
    text-align: center;
    padding: 1.875rem;
    border-radius: 1.25rem;
    align-self: flex-end;
}

#planning .card i {
    color: black;
    background-color: var(--violet);
    border-radius: 100%;
    font-size: 1.25rem;
    padding: .625rem;
}

/* testimonials section */

#testimonials .box {
    text-align: center;
    margin: 1.25rem auto;
}

#testimonials h2 {
    font-size: 1.875rem;
    line-height: 2.625rem;
    color: var(--blue);
}

#testimonials .box .flex-col {
    background-color: var(--violet);
    color: white;
    padding: .9375rem;
    border-radius: 1.25rem;
    margin: 2.1875rem 0;
    gap: .625rem;
    align-items: center;
}

#testimonial-1 {
    background-image: url(../img/testimonial1.jpg);
}

#testimonial-2 {
    background-image: url(../img/testimonial2.jpg);
}

#testimonial-3 {
    background-image: url(../img/testimonial3.jpg);
}

/* benefits section */

#benefits {
    background-color: var(--violet);
    color: white;
    text-align: center;
}

#benefits .button {
    background-color: var(--violet);
} 

#benefits .flex-row {
    gap: 1.875rem;
    row-gap: 1.875rem;
}

#benefits .flex-row .col {
    text-align: start;
    background-color: white;
    color: var(--violet);
    padding: 30px;
    border-radius: 1.25rem;
}

/* about-us section */

#about-img {
    background-image: url(../img/about.jpg);
}

#about-us h4{
    color: var(--violet);
}

#about-us .button{ 
    background-color: var(--violet);
}

#about-us .flex-col {
    gap: 1.875rem;
    align-items: stretch;
}

/* get-started section */

#get-started {
    color: white;
    background-color: var(--violet);
    text-align: center;
}

#get-started p a {
    padding: 0 .3125rem;
}

#get-started p a::before {
    content: '\00B7';
}

#get-started h2 {
    color: var(--orange);
}

#get-started .button {
    color: var(--violet);
    background-color: white;
}

/* ______________

FOOTER

__________________*/

footer {
    background-color: black;
    color: white;
    padding: 3.125rem 0;
    text-align: center;
}

footer a {
    color: var(--violet);
    padding: 0 .3125rem;
}

footer .flex-col {
    justify-content: space-between;
}